/* Sidebar.css */
.sidebar {
    flex: 0.2;
    padding: 10px;
    border-right: 1px solid #595959;
    border-top: 1px solid #595959;  
    background-color: #333333; /* Noir graphite */
  }
  
  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  